// Grid ------------------------------------------------------

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-top      { align-items: flex-start; }
.grid-middle   { align-items: center; }
.grid-bottom   { align-items: flex-end; }
.grid-stretch  { align-items: stretch; }
.grid-baseline { align-items: baseline; }

.grid-left     { justify-content: flex-start; }
.grid-center   { justify-content: center; }
.grid-right    { justify-content: flex-end; }
.grid-between  { justify-content: space-between; }
.grid-around   { justify-content: space-around; }


// Cells ------------------------------------------------------

.cell { flex: 1; }
.cell > *:last-child { margin-bottom: 0; }

.cell-top      { margin-bottom: auto; }
.cell-middle   { margin: auto 0; }
.cell-bottom   { margin-top: auto; }

.cell-1  { flex: 0 0 calc(100% *  1 / 12); min-width: calc(100% *  1 / 12); } // `min-width` for IE
.cell-2  { flex: 0 0 calc(100% *  2 / 12); min-width: calc(100% *  2 / 12); }
.cell-3  { flex: 0 0 calc(100% *  3 / 12); min-width: calc(100% *  3 / 12); }
.cell-4  { flex: 0 0 calc(100% *  4 / 12); min-width: calc(100% *  4 / 12); }
.cell-5  { flex: 0 0 calc(100% *  5 / 12); min-width: calc(100% *  5 / 12); }
.cell-6  { flex: 0 0 calc(100% *  6 / 12); min-width: calc(100% *  6 / 12); }
.cell-7  { flex: 0 0 calc(100% *  7 / 12); min-width: calc(100% *  7 / 12); }
.cell-8  { flex: 0 0 calc(100% *  8 / 12); min-width: calc(100% *  8 / 12); }
.cell-9  { flex: 0 0 calc(100% *  9 / 12); min-width: calc(100% *  9 / 12); }
.cell-10 { flex: 0 0 calc(100% * 10 / 12); min-width: calc(100% * 10 / 12); }
.cell-11 { flex: 0 0 calc(100% * 11 / 12); min-width: calc(100% * 11 / 12); }
.cell-12 { flex: 0 0 calc(100% * 12 / 12); min-width: calc(100% * 12 / 12); }


// Inner Spacing ----------------------------------------------

@mixin spacing ($width) {
  margin-left: -$width;
  margin-top: -$width;

  .cell {
    padding-left: $width;
    padding-top: $width;
  }
}

.grid        { @include spacing (1.5rem); }
.grid-narrow { @include spacing (0); }
.grid-wide   { @include spacing (3rem); }

.grid-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  & > *:not(:last-child) { margin-right: 1.5rem; }
}


// Responsiveness ---------------------------------------------

@media #{$medium} {
  .grid {
    flex-direction: column;
    flex-wrap: nowrap; // prevents image overflow bug
  }

  .cell {
    flex: 0 0 auto;
    min-width: auto;
  }

  .grid-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    & > * { flex: 1 1 100%; }
    & > *:not(:last-child) { margin: 0 0 .75rem; }
  }
}
