// Basic Styles -----------------------------------------------

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

::selection { background: $blue-100; }

html,
button,
input,
optgroup,
select,
textarea {
  color: $grey-900;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Cousine", Menlo, Lucida Console, Courier New, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &.pure,
  .grid & {
    &:before { display: none; }
  }

  .grid & {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  & > small { color: $grey; }
}

h1 { font-size: 1.25rem; }
h2 { font-size: 1.125rem; }

p,
ul,
ol,
pre,
form,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

p { margin-top: -.25em; }

ul ul,
ol ol,
ul ol,
ol ul { margin-bottom: 0; }


// Page -------------------------------------------------------

.container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-header {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 0 1rem;
}

.site-title {
  font-size: 2rem;
  line-height: 1;
  color: $blue-grey-600;
}

.site-search {
  margin: 0;

  input {
    width: 16rem;
    padding: .4rem 0 0;
    border: 0;
    border-bottom: $form-border-width solid $grey-100;
    border-radius: 0; // iOS
    appearance: none; // iOS
  }
}

.site-nav {
  display: inline-flex;
  margin-left: auto;

  ul {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }

  li {
    padding: 0 1ch;

    &:last-child { padding-right: 0; }
    &:before { display: none; }
  }


  @media #{$medium} {
    flex: 1;
    flex-direction: column;
    text-align: right;

    li { padding-top: 1rem; }
  }
}

.responsive-nav {
  display: none;
  flex: 1;
  text-align: right;

  label {
    margin-right: -.5rem;
    padding: 0 .5rem;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1;
    color: $blue-grey-600;
  }

  & + input[type=checkbox] { display: none; }

  @media #{$medium} {
    display: block;

    & ~ .site-nav {
      display: none;
      min-width: 100%; // so it gets its own row
      flex-basis: 100%;
    }

    & + input[type=checkbox]:checked ~ .site-nav { display: block; }

    // Animated Version (uses a magic number and timing is slighly off)
    &.responsive-nav-animated {
      & ~ .site-nav {
        display: block;
        max-height: 0;
        transition: max-height .5s ease-out;
        overflow: hidden;
      }

      & + input[type=checkbox]:checked ~ .site-nav {
        max-height: 10rem; // magic number; should be as near at the real value as possible to reduce perceived delays while the animation hides unused space
        transition-timing-function: ease-in;
      }
    }
  }
}

.site-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.site-footer {
  margin-top: 1rem;
  padding: 2rem 0;
  color: $grey-400;
  text-align: center;

  a { color: $blue-300; }
}
