/* Elements */

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

::selection {
  background: $blue-100;
}

html,
textarea,
input,
select {
  font-size: 16px;
  line-height: 1.6;
  color: $grey-900;
  font-family: 'Cousine', Menlo, Lucida Console, Courier New, monospace;
}

body {
  font-size: 1rem;
  margin: 0;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
  margin-top: 2rem;
  margin-bottom: 2rem;

  & > small { color: $grey; }
}

h1 { font-size: 1.25rem; }
h2 { font-size: 1.125rem; }

p,
ul,
ol,
pre,
form,
table,
blockquote {
  margin-bottom: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul { margin-bottom: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

// Page

header.site-header {
  padding: 1rem 0 .85rem;
  color: $blue-grey-600;

  .title {
    font-size: 2rem;
    line-height: 1.1;
  }

  hr { margin-top: .5rem; }
}

main.site-main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer.site-footer {
  padding-bottom: 2rem;
  color: $grey-400;
  text-align: center;
}

blockquote {
  border-left: .5rem solid $grey-300;
  padding-left: 1rem;
}

img.full-width { display: block; }

figure {
  margin: 0;

  img { width: 100%; }
}

figcaption {
  text-align: center;
  color: $grey;
}

/* Classes */

.container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 1rem;
}
