// From https://github.com/mrcoles/markdown-css and https://github.com/egoist/hack


// Normalize -------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
code,
blockquote {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}


// Headings ---------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  &:before {
    position: absolute;
    left: -4.675rem;
    width: 4rem;
    text-align: right;
    color: $grey-400;
  }

  @media screen and (max-width : $container + 4rem) {
    &:before {
      position: static;
      padding-right: 1ch;
    }
  }
}

h1:before { content: "#"; }
h2:before { content: "##"; }
h3:before { content: "###"; }
h4:before { content: "####"; }
h5:before { content: "#####"; }
h6:before { content: "######"; }


// Lists ------------------------------------------------------

ol { counter-reset: ol; }

ul > li { padding-left: 2ch; }
ol > li { padding-left: 3ch; }

li {
  position: relative;
  display: block;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    color: $grey-400;
  }
}

ul > li:before { content: "–"; }

ol > li:before {
  content: counter(ol) ".";
  counter-increment: ol;
}


// Horizontal Rules -------------------------------------------

hr {
  height: 1rem;
  margin: 1.5rem 0;
  border: 0;

  &:after {
    display: block;
    height: 1rem;
    overflow: hidden;
    content: "＊ ＊ ＊";
    text-align: center;
    overflow: hidden;
    color: $grey-400;
    font-size: .8rem;
  }
}

%dashed {
  content: "– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –";
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 1rem;
  line-height: 1;
  word-wrap: break-word;
  text-align: justify;
  letter-spacing: -.25rem;
  font-size: 1rem;
  color: $grey-300;
}

.dashed-top {
  position: relative;
  &:before {
    @extend %dashed;
    top: -.5rem;
  }
}

.dashed-bottom {
  position: relative;
  &:after {
    @extend %dashed;
    bottom: -.5rem;
  }
}

hr.dashed {
  @extend .dashed-top;
  margin: 2rem 0 1rem;
}
