// From https://github.com/mrcoles/markdown-css and https://github.com/egoist/hack


// Normalize -------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
code,
blockquote {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}


// Headings ---------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  &:before {
    position: absolute;
    left: -1ch;
    width: 0;
    direction: rtl;
    white-space: nowrap;
    color: $grey-400;
  }

  @media screen and (max-width : $container + 4rem) {
    &:before {
      position: static;
      padding-right: 1ch;
    }
  }
}

h1:before { content: "#"; }
h2:before { content: "##"; }
h3:before { content: "###"; }
h4:before { content: "####"; }
h5:before { content: "#####"; }
h6:before { content: "######"; }


// Lists ------------------------------------------------------

ol { counter-reset: ol; }

ul > li { padding-left: 2ch; }
ol > li { padding-left: 3ch; }

li {
  position: relative;
  display: block;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    color: $grey-400;
  }
}

ul > li:before { content: "–"; }

ol > li:before {
  content: counter(ol) ".";
  counter-increment: ol;
}

hr {
  height: 1rem;
  margin: 1.5rem 0;
  border: 0;
  line-height: 1rem;

  &:after {
    display: block;
    height: 1rem;
    overflow: hidden;
    content: "＊ ＊ ＊";
    text-align: center;
    overflow: hidden;
    color: $grey-400;
    font-size: .8rem;
  }
}

/*

pre code:before,
pre code:after {
  content: '';
}

code {
  font-weight: 700;

  &:before,
  &:after {
    content: "`";
    display: inline;
  }
}

blockquote {
  position: relative;
  padding-left: 2ch;
  overflow: hidden;
}

blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
}

em:before,
em:after {
  content: "*";
  display: inline;
  color: $grey-400;
}

*/
