@media screen and (max-width: 768px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:before {
      position: static;
      padding-right: 1ch;
    }
  }

  .form-group {
    .form-label {
      border-bottom: none;
      width: 100%;
    }

    .form-control {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .form-control label {
      flex: 1;
      padding-right: 1rem;
      white-space: nowrap;
    }

    .form-control label + label { padding-left: 0; }

    textarea.form-control { border-left: none; }

    .help-block { padding-left: 0; }
  }


  // .form-group.form-textarea .form-label:after {
  //   display: none;
  // }

  // textarea.form-control {
  //   border-left: none;
  //   padding: .5rem 0;
  // }

  pre::-webkit-scrollbar {
    height: 3px;
  }

}

@media screen and (max-width: 480px) {

  .form {
    width: 100%;
  }

}
