@mixin alert ($color, $background-color) {
   color: $color;
   border-color: $color;
   background-color: $background-color;
}

.alert {
  position: relative;
  padding: $box-padding;
  border: $border-width solid;
  border-radius: $button-radius;

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: .15rem .75rem 0;
    opacity: .5;
    border: 0;
    background: none;
    font-size: 1.5rem;
    color: inherit;
    cursor: pointer;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.alert         { @include alert ($grey-700, $grey-50); }
.alert-success { @include alert ($green-700, $green-50); }
.alert-info    { @include alert ($cyan-700, $cyan-50); }
.alert-warning { @include alert ($orange-700, $orange-50); }
.alert-error   { @include alert ($red-700, $red-50); }
