@mixin alert ($color) {
   color: $color;
   border-color: $color;
}

.alert {
  position: relative;
  padding: $box-padding;
  border: $border-width solid $grey-300;
  border-radius: $button-radius;
  color: $grey-300;

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: .15rem 1rem 0;
    opacity: .5;
    border: 0;
    background: none;
    font-size: 1.5rem;
    color: inherit;
    cursor: pointer;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.alert-success { @include alert ($green); }
.alert-info    { @include alert ($cyan); }
.alert-warning { @include alert ($orange); }
.alert-error   { @include alert ($red); }
