.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 1rem;
  border: 2px dashed $grey-300;
  text-align: center;
  color: $grey-400;
  cursor: pointer;

  &.active,
  &.rejected { color: $grey; }

  &.active   { background-color: $grey-50; }
  &.rejected { background-color: $red-50; }
}
