// Raw Elements -----------------------------------------------

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  padding: .25rem .5rem .15rem;
  appearance: none;
  border: 2px solid $grey-300;
  border-radius: $button-radius;
  background-color: transparent;
  box-shadow: none;
  outline: 0;

  &:focus {
    border-color: $grey-500;
  }
}

input[type="file"] { line-height: 1; }
input::-webkit-file-upload-button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding: .2rem .3rem .05rem;
  background-color: $white;
  border: 2px solid $grey-400;
  border-radius: $button-radius;
}

select {
  padding-right: 1.8rem;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2214%22%20viewBox%3D%220%200%2029%2014%22%20width%3D%2229%22%3E%3Cpath%20fill%3D%22%23e0e0e0%22%20d%3D%22M9.37727%203.625l5.08154%206.93523L19.54036%203.625%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: center right;

  &:focus {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2214%22%20viewBox%3D%220%200%2029%2014%22%20width%3D%2229%22%3E%3Cpath%20fill%3D%22%239e9e9e%22%20d%3D%22M9.37727%203.625l5.08154%206.93523L19.54036%203.625%22%2F%3E%3C%2Fsvg%3E');
  }
}

textarea {
  height: auto;
  min-height: 2rem;
}


// Form ------------------------------------------------------

.form {
  @media #{$small} { width: 100%; }
}


// Group ------------------------------------------------------

.form-group {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; // TODO: why?
  margin-bottom: 2rem;
}


// Label ------------------------------------------------------

.form-label {
  order: 1;
  position: relative;
  min-width: $form-label-width;
  height: 2rem; // so border-bottom style works for textareas as well
  color: $grey-800;
  border-bottom: $form-border-width solid $grey-300;
  line-height: 2rem;
}


// Control ----------------------------------------------------

html .form-control { // specificity fight against input[type]
  flex: 1;
  order: 2;
  min-width: calc(100% - #{$form-label-width});
  padding: .25rem 1rem 0;
  border: 0;
  border-bottom: $form-border-width solid $grey-300;
  border-radius: 0; // iOS

  &:focus { border-color: $grey-500; }

  label + label { padding-left: 2rem; }
}

textarea.form-control {
  padding-left: calc(1rem - #{$form-border-width});
  // resize: none;
  border-bottom: $form-border-width solid $grey-300;
  border-left: $form-border-width solid $grey-300;

  & + .form-label:before { // paint over the little border
    position: absolute;
    content: '';
    width: $form-border-width;
    background-color: $white;
    right: -$form-border-width;
    top: 0;
    bottom: 0;
  }
}

select.form-control { border-radius: 0; }


// States -----------------------------------------------------

@mixin state ($color, $focus-color) {
  .help-block,
  .form-label { color: $color; }

  input,
  textarea,
  select,
  .form-label,
  .form-control {
    border-color: $color;
    &:focus { border-color: $focus-color; }
  }
}

.form-success { @include state ($green, $green-800); }
.form-info    { @include state ($cyan, $cyan-800); }
.form-warning { @include state ($orange, $orange-800); }
.form-error   { @include state ($red, $red-800); }

.form-control:disabled,
.form-control:disabled + .form-label {
  cursor: not-allowed;
  color: $grey-400;
  -webkit-text-fill-color: $grey-400; // Safari
  opacity: 1; // iOS
}

.form-control[readonly],
.form-control[readonly] + .form-label {
  color: $grey;
}

.form-control:required + .form-label:after {
  content: " *";
  color: $red-400;
}


// Help Block -------------------------------------------------

.help-block {
  order: 3;
  min-width: 100%;
  flex-basis: 100%;
  margin-top: .5rem;
  padding-left: 1rem + $form-label-width;
  color: $grey;
}


// Vertical / Responsive --------------------------------------

@mixin form-control {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  flex-basis: 100%;
  padding: 0 0 .15rem;

  label { padding-right: 1rem; }
  label + label { padding-left: 0; }
}

@mixin form-vertical {
  .form-label {
    border-bottom: none;
    min-width: 100%;
    flex-basis: 100%;
  }

  textarea.form-control {
    & + .form-label:before { display: none; } // paint over the little border
    padding-left: 0;
    border-left: none;
  }

  .help-block { padding-left: 0; }
}

.form-vertical {
  @include form-vertical;
  .form-control { @include form-control; }
}

@media #{$medium} {
  @include form-vertical;
  html .form-control { @include form-control; }
}
