.list-striped > *:nth-child(even) {
  background-color: $grey-100;
}

.list-group {
  padding: 0;
  border: $border-width solid $grey-300;
  border-radius: $button-radius;

  & > * {
    display: block;
    margin: 0;
    padding: .5rem .5rem .4rem;
    border: 0;
  }

  & > li:before { display: none; }

  & > *:not(:last-child) {
    border-bottom: $border-width solid $grey-300;
  }

  & > .disabled {
    color: $grey;
    cursor: not-allowed;
    background-color: $grey-200;
  }

  & > .active {
    color: $white;
    background-color: $blue;
  }

  .card > & { border: 0; } // Context with Cards
}
