.list-striped > *:nth-child(even):not(.btn) {
  background-color: $grey-100;
}

.list-group {
  padding: 0;
  border: $border-width solid $grey-300;
  border-radius: $button-radius;

  & > * {
    display: block;
    margin: 0;
    padding: $box-padding;
    border: 0;
  }

  & > a,
  & > button { width: 100%; }

  button:not(.btn) {
    @extend a;
    text-align: left;
    background-color: $white;
  }

  & > li:before { display: none; }

  & > *:not(:last-child) {
    border-bottom: $border-width solid $grey-300;
  }

  & > .disabled {
    color: $grey;
    cursor: not-allowed;
    background-color: $grey-200;
  }

  & > .active.active,
  & > .active.active:hover {
    color: $white;
    background-color: $blue;
  }
}
