.loading {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;

  &::after {
    display: inline-table;
    white-space: pre;

    content: "\A.\A..\A...";
    text-align: left;
    animation: spin 2s steps(4) infinite;
  }
}

@keyframes spin { to { transform: translateY(-6em); } }
