// Based on https://github.com/mightyCrow/wenk

[data-tooltip] {
  position: relative;

  &:after {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    display: none;
    padding: .8rem 1rem .7rem;
    transform: translate(-50%, -.5rem);
    pointer-events: none;
    box-shadow: 0 0 0 .25rem $white;
    border: $border-width solid $grey-300;
    border-radius: 2px;
    background-color: $grey-50;
    white-space: pre;
    color: $grey-900;
  }

  &:hover:after { display: block; }

  &.tooltip-bottom:after {
    bottom: auto;
    top: 100%;
    left: 50%;
    transform: translate(-50%, .5rem);
  }

  &.tooltip-left:after {
    bottom: auto;
    left: auto;
    top: 50%;
    right: 100%;
    transform: translate(-.5rem, -50%);
  }

  &.tooltip-right:after {
    bottom: auto;
    top: 50%;
    left: 100%;
    transform: translate(.5rem, -50%);
  }

  @mixin tooltip-state ($color) {
     color: $white;
     background-color: $color;
  }

  &.tooltip-active:after  { @include tooltip-state ($blue); }
  &.tooltip-success:after { @include tooltip-state ($green); }
  &.tooltip-info:after    { @include tooltip-state ($cyan); }
  &.tooltip-warning:after { @include tooltip-state ($orange); }
  &.tooltip-error:after   { @include tooltip-state ($red); }
}
