@import 'alerts';
@import 'buttons';
@import 'cards';
@import 'forms';
@import 'list-group';
@import 'loading-indicator';
@import 'progress-bar';
@import 'tables';
@import 'tags';
@import 'tooltips';


// Code ------------------------------------------------------

code {
  background-color: $grey-100;
  padding: .25em .5em;
  border-radius: 2px;
  color: $black;
}

samp,
pre {
  padding: 1rem 1.5rem .9rem;
  border: $border-width solid $grey-300;
  border-radius: $button-radius;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  page-break-inside: avoid;

  &.scroll {
    overflow: auto;
    white-space: pre;
  }
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

samp {
  display: inline-block;
  margin-top: -2px;
  padding: 0 .5em;
  background-color: $grey-50;
}


// Links -----------------------------------------------------

a {
  cursor: pointer;
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $blue-700;
    text-decoration: underline;
  }
}


// Images -----------------------------------------------------

img {
  max-width: 100%;

  &.full-width { display: block; }
}

figure {
  margin: 0;

  img { width: 100%; }
}

figcaption {
  text-align: center;
  color: $grey;
}


// Quotes -----------------------------------------------------

blockquote {
  overflow: hidden;
  padding-left: 1rem;
  border-left: .5rem solid $grey-300;
}

cite {
  float: right;
  color: $grey;
  &:before { content: "– "; }
}


// Inline Text Elements ---------------------------------------

mark {
  box-decoration-break: clone;
  background-color: $yellow-200;
  box-shadow: 0 -1px 0 3px $yellow-200;

  mark {
    background-color: $yellow-600;
    box-shadow: 0 -1px 0 3px $yellow-600;
  }
}

abbr[title] {
  @extend .dashed-bottom;
  text-decoration: none;
}

kbd {
  display: inline-block;
  padding: .25em .4em;
  vertical-align: middle;
  color: $grey-800;
  border: solid 1px $grey-200;
  border-bottom-color: $grey-300;
  border-radius: 3px;
  background-color: $grey-50;
  box-shadow: inset 0 -1px 0 $grey-300;
  font-size: .9em;
  line-height: 1;
}


// Footnotes --------------------------------------------------

.footnotes {
  padding-top: 2rem;
  margin-top: 2rem;
}
