@import 'alerts';
@import 'buttons';
@import 'cards';
@import 'forms';
@import 'list-group';
@import 'loading-indicator';
@import 'progress-bar';
@import 'tables';
@import 'tooltips';


// Code ------------------------------------------------------

code {
  background-color: $grey-200;
  padding: .25em .5em;
  border-radius: 2px;
  color: $black;
}

pre {
  display: block;
  margin-top: 0;
  padding: 1rem 1.5rem .9rem;
  border: $border-width solid $grey-300;
  border-radius: $button-radius;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  page-break-inside: avoid;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

}


// Links -----------------------------------------------------

a {
  cursor: pointer;
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $blue-700;
    text-decoration: underline;
  }
}


// Images -----------------------------------------------------

img.full-width { display: block; }

figure {
  margin: 0;

  img { width: 100%; }
}

figcaption {
  text-align: center;
  color: $grey;
}


// Quotes -----------------------------------------------------

blockquote {
  overflow: hidden;
  padding-left: 1rem;
  border-left: .5rem solid $grey-300;
}

cite {
  float: right;
  color: $grey;
  &:before { content: "– "; }
}
}
