@import 'alerts';
@import 'buttons';
@import 'cards';
@import 'forms';
@import 'list-group';
@import 'loading-indicator';
@import 'progress-bar';
@import 'tables';
@import 'tags';
@import 'tooltips';


// Code ------------------------------------------------------

code {
  padding: .2em .4em;
  border-radius: 2px;
  background-color: $grey-100;
}

samp,
pre {
  padding: 1rem 1.5rem .9rem;
  border: $border-width solid $grey-300;
  border-radius: $button-radius;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  page-break-inside: avoid;

  &.scroll {
    overflow: auto;
    white-space: pre;
  }
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

samp {
  display: inline-block;
  margin-top: -2px;
  padding: 0 .5em;
  background-color: $grey-50;
}


// Links -----------------------------------------------------

a {
  cursor: pointer;
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $blue-700;
    text-decoration: underline;
  }
}


// Images -----------------------------------------------------

img {
  max-width: 100%;

  &.full-width { display: block; }
}

figure {
  margin: 0;

  img { width: 100%; }
}

figcaption {
  text-align: center;
  color: $grey;
}


// Quotes -----------------------------------------------------

blockquote {
  overflow: hidden;
  padding-left: 1rem;
  border-left: .5rem solid $grey-300;
}

cite {
  float: right;
  color: $grey;
  &:before { content: "– "; }
}


// Inline Text Elements ---------------------------------------

mark {
  box-decoration-break: clone;
  background-color: $yellow-200;
  box-shadow: 0 -1px 0 3px $yellow-200;

  mark {
    background-color: $yellow-600;
    box-shadow: 0 -1px 0 3px $yellow-600;
  }
}

abbr[title] {
  text-decoration: none;
  border-bottom: 2px dashed $grey-300;
}

kbd {
  display: inline-block;
  padding: .25em .4em;
  vertical-align: middle;
  color: $grey-800;
  border: solid 1px $grey-200;
  border-bottom-color: $grey-300;
  border-radius: 3px;
  background-color: $grey-50;
  box-shadow: inset 0 -1px 0 $grey-300;
  font-size: .9em;
  line-height: 1;
}


// Details & Summary ------------------------------------------
// Faulty in Safari: http://stackoverflow.com/questions/40556442/safari-renders-wrong-after-details-element-when-use-rem-font-size

details { margin-bottom: 1rem; }

summary {
  outline: none;
  &:hover { cursor: pointer; }
}

details:not(.card) {
  padding-left: 1rem;
  // &[open] summary { font-weight: bold; }

  summary {
    margin-bottom: 1rem;
    margin-left: -1rem;

    &:hover {
      background-color: $grey-100;
      box-shadow: -.5rem -.1rem 0 .5rem $grey-100;
    }
  }
}

details.card summary::-webkit-details-marker {
  float: left;
  margin-top: 0.4rem;
  color: $grey;
}

// Footnotes --------------------------------------------------

.footnotes {
  padding-top: 2rem;
  margin-top: 2rem;
}


// Icons ------------------------------------------------------

// svg,
// svg symbol { overflow: visible; }

.i {
  width: .75rem;
  height: .75rem;
  fill: none;
  font-size: inherit;
  stroke: currentColor;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.i-medium .i,
.i.i-medium {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2px;
}

.i-large .i,
.i.i-large {
  width: 2rem;
  height: 2rem;
  stroke-width: 2px;
}
